<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluation Test</title>

</head>

<body>
<main>
    <p>Enter a URL of an article / a blog to discover its sentiment.</p>
    <section>
<h1>Sentiment Analysis</h1>
<form id="sentiment-form">
    <input type="text" name="url-input" id="url-input" placeholder="Enter URL">
    <input type="submit" id="generate" value="Analyze Sentiment">
</form>
    </section>

    <section>
        <strong id="entryHolder">Form Results:</strong>
        <div id="polarity"></div>
        <div id="agreement"></div>
        <div id="subjectivity"></div>
        <div id="confidence"></div>
        <div id="irony"></div>
    </section>
</main>
</body>

</html>